<template>
  <!-- Autor: Robin Steinwarz -->
  <!-- HTML Struktur für das Modal entstammt folgender Quelle: https://vuejs.org/v2/examples/modal.html -->
  <div id="Authentication-Module">
    <div id="register-modal" v-if="showModalRegister">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                Registrierung
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="login-Specifier">
                  <div class="half-input">
                    <label for="register-name"> Nutzername </label> <br>
                    <input v-model="registerName" id="register-name" type="text" name="title"> <br>

                    <label for="register-password"> Passwort </label> <br>
                    <input v-model="registerPassword" id="register-password" type="text" name="title"> <br>
                  </div>
                </div>
                <div class="error" v-if="error !== ''">
                  {{ error }}
                </div>
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="closeModalRegister">
                  Abbrechen
                </button>
                <button class="modal-default-button" @click="register">
                  Registrieren
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="login-modal" v-if="showModalLogin">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                Login
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="login-Specifier">
                  <div class="half-input">
                    <label for="login-name"> Nutzername </label> <br>
                    <input v-model="loginName" id="login-name" type="text" name="title"> <br>

                    <label for="login-password"> Passwort </label> <br>
                    <input v-model="loginPassword" id="login-password" type="text" name="title"> <br>
                  </div>
                </div>
                <div class="error" v-if="error !== ''">
                  {{ error }}
                </div>
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="login">
                  Login
                </button>
                <button class="modal-default-button" @click="closeModalLogin">
                  Abbrechen
                </button>
                <button class="modal-default-button" @click="enableModalRegister" style="background-color: #607d8b">
                  Registrieren
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Notification ref="auth_notification"></Notification>
  </div>
</template>

<script>
import Notification from "@/components/Notification";
const queryString = require('query-string');
import Vue from 'vue'

export default {
  name: "Authentication",
  components: {Notification},
  data: function () {
    return {
      showModalLogin: false,
      showModalRegister: false,
      loginName: "",
      loginPassword: "",
      registerName: "",
      registerPassword: "",
      error: ""
    }
  },
  methods: {
    login: function () {
      if (this.loginName === "" || this.loginPassword === "") {
        this.error = "Bitte fülle alle Felder aus."
        return;
      }

      const data = {
        loginName: this.loginName,
        loginPassword: this.loginPassword,
      };

      const vue = this;

      (async () => {
        let result = await fetch(Vue.prototype.$hostname, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: queryString.stringify(data)
        });

        result = await result.text();
        if (result !== "false") {
          if (result === "unregistered") {
            vue.error = "Der angegebene Nutzername und das Passwort sind nicht registriert.";
            return;
          }

          vue.$store.state.sessionHash = result;
          vue.closeModalLogin();
          this.$refs["auth_notification"].addNotification('Erfolgreich eingeloggt!', 'success', Date.now());
        } else {
          vue.error = "Der angegebene Nutzername und das Passwort sind nicht registriert."
        }
      })();
    },
    register: function () {
      if (this.registerName === "" || this.registerPassword === "") {
        this.error = "Bitte fülle alle Felder aus."
        return;
      }
      const data = {
        registerName: this.registerName,
        registerPassword: this.registerPassword,
      };

      const vue = this;

      (async () => {
        let result = await fetch(Vue.prototype.$hostname, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: queryString.stringify(data)
        });

        result = await result.text();

        if (result !== "false") {
          this.$refs["auth_notification"].addNotification('Erfolgreich registriert!', 'success', Date.now());
          vue.closeModalRegister();
        } else {
          vue.error = "Die Registrierung konnte nicht vollzogen werden."
        }
      })();
    },
    closeModalLogin: function () {
      this.error = "";
      this.showModalLogin = false;
    },
    closeModalRegister: function () {
      this.error = "";
      this.showModalRegister = false;
    },
    enableModalLogin: function () {
      this.showModalLogin = true;
    },
    enableModalRegister: function () {
      this.showModalLogin = false;
      this.error = "";
      this.showModalRegister = true;
    },
    isAuthenticated: function () {
      let authenticated = false;
      if (this.$store.state.sessionHash !== undefined) {
        const data = {
          authSession: this.$store.state.sessionHash
        };

        (async () => {
          let result = await fetch(Vue.prototype.$hostname, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: queryString.stringify(data)
          });

          result = await result.text();

          authenticated = result !== "false";
          return authenticated;
        })();

        return;
      }

      return authenticated;
    }
  }
}
</script>

<style scoped>

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  color: white;
  background-color: #2c3e50;
  padding: 5px;
  margin: 2px;
}

.modal-body {
  min-height: 200px;
}

.modal-footer {
  height: 70px;
}

.login-Specifier {
  text-align: left;
  margin: .5em;
}

.half-input input {
  width: 50%;
  margin: 0.25em 0 0.25em 0;
}

.full-text-input textarea, .full-text-input input {
  width: 100%;
  margin: 0.25em 0 0.25em 0;
}

.error {
  text-align: center;
  color: crimson;
  padding: 1em;
}

@media (max-width: 710px) {
  .modal-container {
    width: 350px;
  }
}

@media (max-width: 410px) {
  .modal-container {
    width: 250px;
  }
}


</style>