<template>
  <!-- Autor: Robin Steinwarz -->
  <div v-if="LocalComponentPath !== undefined">
    <DynamicallyImportedComponent :is="localComponent" ref="dynLoad"/>
  </div>
</template>

<script>

export default {
  name: "DynamicVueComponentLoader",
  props: {
    LocalComponentPath: String
  },
  data() {
    return {
      localComponent: '',
      nextPath: ''
    };
  },
  mounted: function() {
    this.triggerDynamicImport();
    global.dynComp = this.$refs;
  },
  methods: {
    setDynamicComponentPath: function (path) {
      this.nextPath = path;
      this.triggerDynamicImport();
    },

    triggerDynamicImport: function(){
      const vue = this;

      (async () => {
        this.localComponent = await vue.dynamicImport();
      })();
    },

    dynamicImport: function(){
      return () => import(`./Uebungen/${(this.nextPath === '') ? this.LocalComponentPath : this.nextPath}`);
    }
  }
}
</script>

<style scoped>

</style>