<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="notification" :id="this.intervalId + 'notification'">
    <div :class="this.nextNoteType">
      {{ this.nextNoteName }}
    </div>
  </div>
</template>

<script>

class Notification {
  constructor(name, type, datum) {
    if (type !== 'info' && type !== 'warning' && type !== 'success') {
      type = 'info';
    }

    this.name = name;
    this.type = type;
    this.datum = datum;
  }
}

class NotificationManager {
  notifications = [];

  addNotification(name, type, datum) {
    this.notifications.push(new Notification(name, type, datum));
  }

  popOldestNotification() {
    return this.notifications.sort((a, b) => {
      return (a.datum < b.datum)? 1 : -1
    }).pop();
  }

  hasNotification() {
    return this.notifications.length !== 0;
  }
}

export default {
  name: "Notification",
  data: function () {
    return {
      notifications: new NotificationManager(),
      nextNoteName: '',
      nextNoteType: '',
      showDuration: 1750,
      intervalId: '',
      currentlyShowing: false
    }
  },
  created: function () {
    this.intervalId = setInterval(() => {
      if(this.notifications.hasNotification()){
        this.throwNotification();
      }
    }, 500);
  },
  methods: {
    addNotification: function (name, type, datum) {
      this.notifications.addNotification(name, type, datum)
    },
    throwNotification: function () {
      if(this.currentlyShowing === true){
        return;
      }

      if (this.notifications.hasNotification()) {
        this.showNotification(this.notifications.popOldestNotification());

        setTimeout(() => {
          this.unShowNotification();
        }, this.showDuration - 500);

        this.currentlyShowing = true;
      }
    },
    showNotification: function (note) {
      this.nextNoteType = note.type;
      this.nextNoteName = note.name;
      const notification = document.getElementById(this.intervalId + 'notification');
      notification.style.display = 'block';
    },
    unShowNotification: function () {
      document.getElementById(this.intervalId + 'notification').style.display = 'none';
      this.currentlyShowing = false;
    }
  },
  destroyed() {
    clearInterval(this.intervalId);
  }
}
</script>

<style scoped>
.notification {
  display: none;
  -webkit-animation: fadein .5s;
  position: absolute;
  right: 30px;
  bottom: 30px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .40);
  border: solid 1px rgba(100, 100, 100, .40);
  z-index: 0;
}

.info, .warning, .success {
  padding: .8em;
  color: white;
}

.info {
  background-color: #607d8b;
}

.warning {
  background-color: crimson;
}

.success {
  background-color: #42b983;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
</style>