<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="content">
    <div class="leftContent">
      <div class="flexMaxWidth">
        <img id="MyIMG" src="./../assets/Me.jpeg">
      </div>
      <div class="property">
        <span class="propertyKey">Vorname</span> <br> Robin
      </div>
      <div class="property">
        <span class="propertyKey">Nachname</span> <br> Steinwarz
      </div>
      <div class="property">
        <span class="propertyKey">Alter</span> <br> 23
      </div>
      <div class="property">
        <span class="propertyKey">Studienfach</span> <br> Informatik
      </div>
      <div class="property">
        <span class="propertyKey">Spezialisierung</span> <br> Allgemein
      </div>
      <div class="property">
        <span class="propertyKey">Lieblingsprimzahl</span> <br> 7
      </div>
      <div class="property">
        <span class="propertyKey">Lieblingsfach</span> <br> Game Development
      </div>
      <div class="property">
        <span class="propertyKey">Lieblingsfarbe</span> <br> Mint
      </div>
      <div class="property">
        <span class="propertyKey">Tutor</span> <br> Programmierung
      </div>
      <div class="property">
        <span class="propertyKey">Kontakt</span> <br> robin.steinwarz<wbr>@smail.inf.h-brs.de
      </div>
    </div>
    <div class="rightContent">
      <div class="section">
        <div class="sectionTitle">
          Fragen und Antworten
        </div>
        <div class="block">
          <div class="top">
            Welchen Tipp würdest du Erstsemestern geben?
          </div>
          <div class="bot">
            Leg dir eine gesunde Lernroutine zu. Es ist sehr wichtig, dass du lernst
            aus eigener Initiative heraus zu arbeiten.
          </div>
        </div>
        <div class="block">
          <div class="top">
            Welches Fach hat dir am meisten Sorgen bereitet und weshalb?
          </div>
          <div class="bot">
            Definitiv Software Engineering 2. Dessen Umfang und Komplexität übersteigt jedes andere
            Modul. Aber wenn man es bis dahin schafft, schafft man auch das.
          </div>
        </div>
        <div class="block">
          <div class="top">
            Welches Gericht war dein Lieblingsgericht in der Kantine Sankt Augustin?
          </div>
          <div class="bot">
            Immer der Wok.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UeberMich"
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.content{
  background-color: #ffffff;
  grid-area: content;

  display: grid;
  grid-template-columns: 30% 70%;

  grid-template-areas: "leftContent rightContent";
}

.content .leftContent,.content .rightContent{
  background-color: #ffffff;
  margin: 1em 0em 1em 0em;
  padding: .5em;
}

.content .rightContent{
  grid-area: rightContent;
  font-weight: normal;
  text-align: left;
}

.content .rightContent .section{
  padding: 1em;
  border-bottom: 1px rgba(0, 0, 0, 0.623) solid;

  display: flex;
  flex-wrap: wrap;
}

.content .rightContent .section .sectionTitle{
  text-align: left;
  flex-direction: row;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.content .rightContent .section .block {
  margin: 1em 0 1em 0;
}

.content .rightContent .section .bot {
  margin-left: 5px;
  margin-top: 5px;
}

.content .leftContent{
  grid-area: leftContent;
  display: flex;
  flex-wrap: wrap;
}

.flexMaxWidth{
  width: 100%;
}

#MyIMG{
  width: 25vw;
  margin-bottom: 10px;
}

.property{
  margin: 0 4px 0 4px;
}

.propertyKey{
  display: inline-block;
  width: 100%;
  color: white;
  background-color: #42b983;
  padding: 2px;
  border-radius: .5em;
  border: 1px #42b983 solid;
  text-align: center;
}

@media(max-width: 710px){

  .content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    grid-template-areas:
                    "leftContent"
                    "rightContent";

  }

  .content .leftContent, .content .rightContent{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: inline-block;
  }

  .content .rightContent .section .sectionTitle{
    text-align: center;
  }
}

</style>