<template>
  <!-- Autor: Robin Steinwarz -->
  <div>
    <div class="section">
      <div class="sectionTitle">
        Das DOM-JS Farb-Buttonrätsel:<br>
        Ziel ist das erreichen der Farbgleichheit für eine beliebige Buttonfarbe.
        (Für CSS Profis ist das für jedes Pattern lösbar! Bloss nicht für jedes Gerät...)
      </div>
      <div class="buttons">
        <a @click="startFarbspiel" id="farbspielStartButton">Neues Pattern</a>
        <a onClick="alert('Vielleicht mal das Browserfenster verkleinern/vergrößern... ;)')">Gib mir einen Tipp!</a>
      </div>
      <div class="gameButtons">
        <a class="farbspielbutton" name="1" @click="farbspiel('1')">x</a>
        <a class="farbspielbutton" name="2" @click="farbspiel('2')">x</a>
        <a class="farbspielbutton" name="3" @click="farbspiel('3')">x</a>
        <a class="farbspielbutton" name="4" @click="farbspiel('4')">x</a>
        <a class="farbspielbutton" name="5" @click="farbspiel('5')">x</a>
        <a class="farbspielbutton" name="6" @click="farbspiel('6')">x</a>
        <a class="farbspielbutton" name="7" @click="farbspiel('7')">x</a>
        <a class="farbspielbutton" name="8" @click="farbspiel('8')">x</a>
        <a class="farbspielbutton" name="9" @click="farbspiel('9')">x</a>
        <a class="farbspielbutton" name="10" @click="farbspiel('10')">x</a>
        <a class="farbspielbutton" name="11" @click="farbspiel('11')">x</a>
        <a class="farbspielbutton" name="12" @click="farbspiel('12')">x</a>
        <a class="farbspielbutton" name="13" @click="farbspiel('13')">x</a>
        <a class="farbspielbutton" name="14" @click="farbspiel('14')">x</a>
        <a class="farbspielbutton" name="15" @click="farbspiel('15')">x</a>
        <a class="farbspielbutton" name="16" @click="farbspiel('16')">x</a>
        <a class="farbspielbutton" name="17" @click="farbspiel('17')">x</a>
        <a class="farbspielbutton" name="18" @click="farbspiel('18')">x</a>
        <a class="farbspielbutton" name="19" @click="farbspiel('19')">x</a>
        <a class="farbspielbutton" name="20" @click="farbspiel('20')">x</a>
        <a class="farbspielbutton" name="21" @click="farbspiel('21')">x</a>
        <a class="farbspielbutton" name="22" @click="farbspiel('22')">x</a>
        <a class="farbspielbutton" name="23" @click="farbspiel('23')">x</a>
        <a class="farbspielbutton" name="24" @click="farbspiel('24')">x</a>
      </div>
    </div>
  </div>
</template>

<script>

const farbspielcolors = ["#42b983", "crimson", "coral", "#42b983", "#607d8b"];

const startFarbspiel = () => {
  let buttons = document.getElementsByClassName("farbspielbutton");

  for(const button of buttons){
    const randomNr = Math.floor(Math.random()*farbspielcolors.length);
    button.setAttribute("style", `background-color: ${farbspielcolors[randomNr]}`);
  }
}

const farbspiel = (buttonPosition) => {
  let section = document.getElementsByClassName("gameButtons");
  const sectionWidth = section[0].clientWidth;
  console.log(sectionWidth);

  let buttons = document.getElementsByClassName("farbspielbutton");
  const buttonWidth = buttons[0].clientWidth + 12;

  let buttonsInColumn = Math.floor(sectionWidth/buttonWidth);

  let relevante = [];

  for(let i = 1; i <= buttons.length; i++){

    // oberstes
    if(i % buttonsInColumn === buttonPosition % buttonsInColumn && i <= buttonsInColumn){
      relevante.push("" + i);
    }

    // linkestes
    if( Math.floor((i - 0.01) / buttonsInColumn) === Math.floor((buttonPosition - 0.01) / buttonsInColumn) && i % buttonsInColumn === 1){
      relevante.push("" + i);
    }

    // rechtestes
    if(Math.floor((i - 0.01) / buttonsInColumn) === Math.floor((buttonPosition - 0.01) / buttonsInColumn) && i % buttonsInColumn === 0){
      relevante.push("" + i);
    }

    // unterstes
    if(i % buttonsInColumn === buttonPosition % buttonsInColumn && buttons.length - i < buttonsInColumn ){
      relevante.push("" + i);
    }
  }

  let currButton = null;
  for(const button of buttons){
    if(button.getAttribute("name") === buttonPosition){
      currButton = button;
      break;
    }
  }

  for(const button of buttons){
    if(relevante.includes(button.getAttribute("name"))){
      button.style.backgroundColor = currButton.style.backgroundColor;
    }
  }

  let color;
  let first = true;
  let hasWon = true;

  for(const button of buttons){
    if(first === true){
      first = false;
      color = button.style.backgroundColor;
    }else{
      if(color !== button.style.backgroundColor){
        hasWon = false;
        break;
      }
    }
  }

  if(hasWon === true){
    alert("Herzlichen Glueckwunsch! Du hast es geschafft!");
  }

}

export default {
  name: "ColorGame",
  methods: {
    startFarbspiel,
    farbspiel
  },
  mounted:function(){
    this.startFarbspiel();
  },
}
</script>

<style scoped>
  .section{
    margin-top: 30px;
  }

  .gameButtons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .sectionTitle{
    font-size: 25px;
    flex-direction: row;
    text-align: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons{
    margin: 3em 0 3em 0;
    text-align: center;
  }

  .buttons a{
    background-color: #1d2025;
  }

  a {
    color: white;
    text-decoration: none;
    background-color:  #607d8b;
    padding: 1em;
    margin: .25em .5em .25em .25em;
    width: 100px;
  }

  @media(max-width: 900px){
    .gameButtons{
      width: 600px;
    }
  }

  @media(max-width: 700px){
    .gameButtons{
      width: 500px;
    }
  }

  @media(max-width: 500px){
    .gameButtons{
      width: 300px;
    }
  }

</style>