<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="home">
    <div class="Greeting">
      <div class="MyName">
        Robin Steinwarz
      </div>
      <div class="WebsiteDescription">
        Willkommen auf meiner Webseite der Hochschule Bonn-Rhein-Sieg.
        Hier können Sie nicht bloß eine malerische Aufnahme von mir in der Schneeeifel
        bestaunen, sondern viel mehr. Über die Navigation erhalten Sie exklusiv einen
        eindrucksvollen Einblick in den gigantischen Topf voller Webtechnologie,
        dessen Innereien ich im Modul Webengineering bei Herr Dr. Manfred Kaul
        gründlichst studieren durfte.
      </div>
    </div>
    <img class="MyPicture" alt="Robin Steinwarz" src="../assets/Me.jpeg">
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

  .home{
    font-family: 'Lato', sans-serif;

    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    grid-template-areas:
    "Greeting"
    "MyPicture";
  }
  .Greeting{
    grid-area: Greeting;
    justify-self: center;
  }

  .MyName{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }

  .MyPicture{
    grid-area: MyPicture;
    width: 400px;

    justify-self: center;
  }

  .WebsiteDescription{
    width: 400px;
    padding: 15px;
  }

  @media(max-width: 650px){
    .MyPicture{
      width: 200px;
    }

    .WebsiteDescription{
      width: 350px;
    }
    
  }
</style>