<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="wwwNavigator" v-if="fetchedContent !== ''">
    <div id="wwwNavi" class="navi">
      <div class="topic" v-for="topics of Object.keys(fetchedContent)" :key="topics.key">
        <div class="mainT" :id="'topic-activator-'+topics" @click="toggleTopic">
          {{ topics }}
        </div>
        <div v-for="subTopics of Object.keys(fetchedContent[topics])" :key="subTopics.key">
          <div class="subT" :id="'subTopic-activator-'+subTopics" v-if="activeTopic === topics"
               @click="toggleSubTopic">
            {{ subTopics }}
          </div>
        </div>
      </div>

      <div class="topic">
        <div class="newTopic" @click="attemptNewSiteCreation">
          Neues Thema +
        </div>
      </div>
    </div>
    <div v-if="activeContent.endsWith('.vue')">
      <keep-alive>
        <DynamicVueComponentLoader ref="dynamicComponentLoader"
                                   :local-component-path="activeContent"></DynamicVueComponentLoader>
      </keep-alive>
      <div class="notes" v-html="activeNotes"></div>
    </div>
    <div v-else>
      <div class="content">
        <div v-html="activeContent"></div>
        <div class="notes" v-html="activeNotes"></div>
      </div>
    </div>
    <div class="sources">
      <div class="sources">
        <ul>
          <li>
            Quellen
          </li>
          <li v-if="typeof activeSources === 'string'">
            {{ activeSources }}
          </li>
          <li v-else v-for="sources in activeSources" :key="sources.key">
            {{ sources }}
          </li>
        </ul>
      </div>
    </div>
    <!-- HTML Template für das Modal: https://vuejs.org/v2/examples/modal.html -->
    <div id="new-topic-modal" v-if="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                Neue Seite Anlegen
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <div class="new-topics-Specifier">
                  <div class="half-input">
                    <label for="topic-name"> Thema </label> <br>
                    <input v-model="newTopicName" id="topic-name" type="text" name="title"> <br>

                    <label for="topic-subname"> Unterthema </label> <br>
                    <input v-model="newTopicSubName" id="topic-subname" type="text" name="title"> <br>
                  </div>
                  <div class="full-text-input">
                    <label for="topic-content"> Text </label>
                    <textarea v-model="newTopicContent" id="topic-content" rows="10" cols="70"></textarea> <br>
                    <label for="topic-sources"> Quelle </label>
                    <input v-model="newTopicSources" id="topic-sources" type="text" name="title">
                  </div>
                </div>
                <div class="error" v-if="newTopicError !== ''">
                  {{ newTopicError }}
                </div>
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="createNewSite">
                  Speichern
                </button>
                <button class="modal-default-button" @click="closeModal">
                  Abbrechen
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Authentication ref="authComponent"></Authentication>
    <Notification ref="sol_notification"></Notification>
  </div>
</template>

<script>

import Authentication from "@/components/Authentication";
import DynamicVueComponentLoader from "@/components/DynamicVueComponentLoader";

const queryString = require('query-string');
import Vue from "vue";
import Notification from "@/components/Notification";

export default {
  components: {Notification, DynamicVueComponentLoader, Authentication},
  template: "",
  name: "SolutionNavigator",
  ref: "solNavi",
  data: function () {
    return {
      activeTopic: "",
      activeSubTopic: "",
      activeContent: "",
      activeSources: "",
      activeNotes: "",
      fetchedContent: "",
      showModal: false,
      newTopicName: "",
      newTopicSubName: "",
      newTopicContent: "",
      newTopicSources: "",
      newTopicError: ""
    }
  },
  methods: {
    toggleTopic: function (triggeringTopic) {
      if (triggeringTopic !== undefined) {
        this.activeTopic = triggeringTopic.target.id.replace("topic-activator-", "");
      }

      return 0;
    },
    toggleSubTopic: function (triggeringSubTopic) {
      if (triggeringSubTopic !== undefined) {
        this.activeSubTopic = triggeringSubTopic.target.id.replace("subTopic-activator-", "");
        this.activeContent = this.fetchedContent[this.activeTopic][this.activeSubTopic].content;
        this.activeSources = this.fetchedContent[this.activeTopic][this.activeSubTopic].references;
        this.activeNotes = this.fetchedContent[this.activeTopic][this.activeSubTopic].notes;

        if (this.$refs["dynamicComponentLoader"] !== undefined && this.activeContent.endsWith(".vue")) {
          this.$refs["dynamicComponentLoader"].setDynamicComponentPath(this.activeContent);
        }
      }

      return 0;
    },
    attemptNewSiteCreation: function () {
      if (this.$refs["authComponent"].isAuthenticated() === false) {
        //console.log(this.$refs["authComponent"].isAuthenticated());
        this.$refs["authComponent"].enableModalLogin();
        return;
      }

      this.showModal = true;
    },
    createNewSite: function () {
      if (this.newTopicName === "" || this.newTopicSubName === "" ||
          this.newTopicContent === "") {
        this.newTopicError = "Das hat leider nicht funktioniert. Bitte fülle alle Felder (Außer Quellen) aus."
        return;
      }

      const data = {};
      data.newTopicName = this.newTopicName;
      data.newTopicSubName = this.newTopicSubName;
      data.newTopicContent = this.newTopicContent;
      data.newTopicSources = this.newTopicSources;


      let vue = this;
      let response;

      (async () => {
        await fetch(Vue.prototype.$hostname, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: queryString.stringify(data)
        });

        response = await fetch(Vue.prototype.$hostname + 'wwwContent.json');

        response = await response.json();

        vue.fetchedContent = response;

        if (response !== undefined && response.error !== undefined) {
          console.log(response.error);
          vue.$refs["sol_notification"].addNotification('Irgendetwas ist schief gelaufen...', 'warning', Date.now());
          return;
        }

        vue.closeModal();
        vue.$refs["sol_notification"].addNotification('Thema erfolgreich erstellt!', 'success', Date.now());
      })();

    },
    closeModal: function () {
      this.newTopicError = "";
      this.showModal = false;
    }
  },
  mounted() {
    (async () => {
      let response = await fetch(Vue.prototype.$hostname + 'wwwContent.json');

      response = await response.json();
      this.fetchedContent = response;

      if (response !== undefined && response.error !== undefined) {
        console.log(response.error);
      }
    })();
  }
}
</script>

<style scoped>

.wwwNavigator {
  background-color: #ffffff;
  grid-area: content;

  display: grid;
  grid-template-columns: 20% 60% 20%;

  grid-template-areas: "navi content sources";
}

.content {
  grid-area: content;
  padding: 1em 3em 1em 3em;
}

.notes {
  padding: 1em 3em 1em 3em;
}

.sources {
  grid-area: sources;
  text-align: left;
  word-wrap: anywhere;
}

.sources li {
  list-style-type: none;
  padding: .5em;
}

.sources li:nth-child(1) {
  background-color: #1d2025;
  color: white;
}

.sources li:nth-child(2N) {
  background-color: aliceblue;
}

.navi {
  text-align: left;
  grid-area: navi;
  background-color: aliceblue;
  border-right: solid #42b983 3px;
}

.mainT {
  padding: .5em;
  background-color: #42b983;
  color: white;
}

.mainT:hover {
  background-color: #607d8b;
}

.subT {
  padding: .5em;
  background-color: aliceblue;
}

.subT:hover {
  background-color: #d1dfeb;
}

.newTopic {
  margin-top: 1em;
  padding: .5em;
  background-color: #42b983;
  color: white;
  text-align: center;
}

.newTopic:hover {
  background-color: #607d8b;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  color: white;
  background-color: #2c3e50;
  padding: 5px;
  margin: 2px;
}

.modal-body {
  min-height: 200px;
}

.modal-footer {
  height: 70px;
}

.new-topics-Specifier {
  text-align: left;
  margin: .5em;
}

.half-input input {
  width: 50%;
  margin: 0.25em 0 0.25em 0;
}

.full-text-input textarea, .full-text-input input {
  width: 100%;
  margin: 0.25em 0 0.25em 0;
}

.error {
  text-align: center;
  color: crimson;
  padding: 1em;
}

@media (max-width: 710px) {
  .wwwNavigator {
    grid-template-columns: 100%;

    grid-template-areas: "navi" "content" "sources";
  }

  .navi {
    height: auto;
  }

  .modal-container {
    width: 350px;
  }
}

@media (max-width: 410px) {

  .modal-container {
    width: 250px;
  }
}


</style>