<template>
  <!-- Autor: Robin Steinwarz -->
  <div id="app">
    <div id="nav">
      <router-link to="/">Startseite</router-link> |
      <router-link to="/aboutMe">Steckbrief</router-link> |
      <router-link to="/SolutionNavigator">Lösungs-Navigator</router-link> |
      <router-link to="/colorGame">Farbrätsel</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  text-align: center;
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>