<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="registration">
    <form id="registrationData">
      <div>
        Name <br>
        <input type="text" name="registerUsername" id="registerName"/>
      </div>
      <div>
        Password <br>
        <input type="password" name="registerPassword" id="registerPassword"/>
      </div>
      <input type="button" @click="register" value="registrieren"/>
    </form>
    <div id="result">
      {{ error }}
    </div>
    <Notification ref="ue101_notification"></Notification>
  </div>
</template>

<script>
import Vue from "vue";
import Notification from "@/components/Notification";

const queryString = require('query-string');

export default {
  name: "Uebung10-1",
  components: {Notification},
  data: function(){
    return{
      "error": ""
    }
  },
  mounted: function(){
    this.result = document.getElementById('result');
  },
  methods: {
    register: function () {
      this.registerName = document.getElementById('registerName').value;
      this.registerPassword = document.getElementById('registerPassword').value;

      if (this.registerName === "" || this.registerPassword === "") {
        this.error = "Bitte fülle alle Felder aus."
        return;
      }
      const data = {
        registerName: this.registerName,
        registerPassword: this.registerPassword,
      }

      const vue = this;

      (async () => {
        let result = await fetch(Vue.prototype.$hostname, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: queryString.stringify(data)
        });

        result = await result.text();

        if (result === "false") {
          vue.error = "Die Registrierung konnte nicht vollzogen werden."
        }else{
          this.$refs["ue101_notification"].addNotification('Erfolgreich registriert!', 'success', Date.now());
        }
      })();
    }
  }
}
</script>

<style scoped>
  .registration{
    padding: 1em 3em 1em 3em;
  }

  input {
    margin: .25em;
    padding: .5em;
  }

  input[type="button"] {
    width: 100px;
    background-color: #42b983;
    border-color: white;
    color: white;
  }
</style>