<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>


export default {
  name: "Uebung4-3",
  methods: {
    // eslint-disable-next-line no-unused-vars
    print_fibonacci: function (max) {
      let cache = [];
      for (let i = 0; i <= max; i++) {
        if (i === 0) {
          cache.push(i);
          continue;
        }

        if (i === 1) {
          cache.push(i);
          continue;
        }

        var next = cache[cache.length - 2] + cache[cache.length - 1];
        cache.push(next);
        console.log("Index: " + i + " Fib. Zahl: " + next);
      }
    },

    // eslint-disable-next-line no-unused-vars
    print_fibonacci_bigInt: function (max) {
      let cache = [];

      for (let i = 0; i <= max; i++) {
        if (i === 0) {
          // eslint-disable-next-line no-undef
          cache.push(BigInt(i));
          continue;
        }

        if (i === 1) {
          // eslint-disable-next-line no-undef
          cache.push(BigInt(i));
          continue;
        }

        var next = cache[cache.length - 2] + cache[cache.length - 1];
        cache.push(next);
        console.log("Index: " + i + " Fib. Zahl: " + next);
      }
    }
  }
}
</script>

<style scoped>

</style>