<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="uebung">
     <div class="red"></div>
    <div class="green"></div>
    <div class="blue"></div>
    <div class="purple"></div>
  </div>
</template>

<script>
export default {
  name: "Uebung3-3"
}
</script>

<style scoped>
.uebung {
  display: flex;
  flex-flow: row wrap;
}

.red {
  background-color: red;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  margin: .5em;
}

.green {
  background-color: green;
  width: calc(20% - 1em);
  height: 100vh;
  margin: .5em;
}

.blue {
  background-color: blue;
  width: calc(60% - 1em);
  height: 100vh;
  margin: .5em;
}

.purple {
  background-color: purple;
  width: calc(20% - 1em);
  height: 100vh;
  margin: .5em;
}

@media (max-width: 600px) {
  .green {
    width: calc(30% - 1em);
    height: 150vh;
  }

  .blue {
    width: calc(70% - 1em);
    height: 150vh;
  }

  .purple {
    flex-direction: row;
    width: calc(100% - 1em);
    height: 15vh;
  }
}

@media (max-width: 350px) {
  .red {
    width: 100vw;
    margin: 0;
  }

  .green {
    width: calc(100%);
    height: 15vh;
    margin: 0;
  }


  .blue {
    width: calc(100%);
    margin: 0;
  }

  .purple {
    width: calc(100%);
    margin: 0;
  }

}
</style>