<template>
  <!-- Autor: Robin Steinwarz -->
  <div>
    Eingabefeld <input type="text" v-model="counterText"/> <br>
    Buchstaben  - {{ countLetters }}
    Leerzeichen - {{ countSpaces }}
    Wörter      - {{ countWords }}
  </div>
</template>

<script>
export default {
  name: "Counter",
  data: function() {
    return {
      counterText: '',
    }
  },
  computed: {
    countLetters: function() {
      let letterCounter = 0;
      for (const c of this.counterText) {
        if(c.match("[a-zA-Z]")){
          letterCounter++;
        }
      }

      return letterCounter;
    },
    countSpaces: function() {
      let spacesCounter = 0;
      for (const c of this.counterText) {
        if(c === " "){
          spacesCounter++;
        }
      }

      return spacesCounter;
    },
    countWords: function() {
      const wordRegex = '\\b[a-zA-Z]+';

      return this.counterText.split(" ").filter( word => word.match(wordRegex)).length;
    }
  },
}
</script>

<style scoped>

</style>