<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>

var Auto = {
  toString: function () {
    return 'Auto ' + this.autoname;
  }
}

var bmw = {
  __proto__: Auto,
  autoname: 'bmw'
}

var audi = {
  __proto__: Auto,
  autoname: 'audi'
}

var opel = {
  __proto__: Auto,
  autoname: 'opel'
}

var Person = {
  toString: function () {
    return 'Name ' + this.name + ' Auto ' + this.autoname;
  }
}

var personInstances = [];

export default {
  name: "Uebung4-2",
  methods: {
    // eslint-disable-next-line no-unused-vars
    conflict: function () {
      var autosInstances = [];

      for (let i = 0; i < personInstances.length; i++) {
        for (let j = 0; j < personInstances[i].autos.length; j++) {
          if (autosInstances.includes(personInstances[i].autos[j])) {
            return true;
          } else {
            autosInstances.push(personInstances[i].autos[j]);
          }
        }
      }

      return false;
    },
    setConflictingTest: function() {
      personInstances = [];

      let pers1 = Object.create(Person);
      pers1.name = 'rudi';
      pers1.autos = [audi, bmw];
      personInstances.push(pers1);

      let pers2 = Object.create(Person);
      pers2.name = 'Anetta';
      pers2.autos = [audi];
      personInstances.push(pers2);
    },
    setHappyTest: function() {
      personInstances = [];

      let pers1 = Object.create(Person);
      pers1.name = 'rudi';
      pers1.autos = [opel];
      personInstances.push(pers1);

      let pers2 = Object.create(Person);
      pers2.name = 'Anetta';
      pers2.autos = [audi];
      personInstances.push(pers2);
    }
  }
}
</script>

<style scoped>

</style>