<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>
class Vorrang {
  constructor(vorraenge) {
    this.vorraenge = vorraenge;
  }

  hasVorrang(vorrang, vor) {
    const sortierteVorraenge = this.topSort(this.vorraenge);

    console.log(sortierteVorraenge);

    if (sortierteVorraenge.indexOf(vorrang) < sortierteVorraenge.indexOf(vor)) {
      return true;
    }

    return false;
  }

  sortedVorraenge() {
    return this.topSort(this.vorraenge);
  }

  * [Symbol.iterator]() {
    const sortierteVorraenge = this.topSort(this.vorraenge);

    for (const vorgang in sortierteVorraenge) {
      yield sortierteVorraenge[vorgang];
    }
  }

  topSort(dep) {
    var dependencies = [];

    // suche in den dependencies, nach dem Index des relevanten Tasks
    function indexFinder(dependency) {
      var index = -1;

      for (let e = 0; e < dependencies.length; e++) {
        if (dependencies[e][0] === dependency) {
          index = e;
          break;
        }
      }

      return index;
    }

    // sortiere zu nachgängern, vorgänger in dependencies ein
    for (let i = 0; i < dep.length; i++) {
      for (let j = dep[i].length - 1; j >= 0; j--) {
        let dependenciesIndex = indexFinder(dep[i][j]);

        if (dependenciesIndex === -1) {
          dependencies.push([dep[i][j]]);
          dependenciesIndex = dependencies.length - 1;
        }

        // schreibe alle vorgänger zu dem nachgänger an position j in dependencies
        for (let k = j - 1; k >= 0; k--) {
          if (!dependencies[dependenciesIndex].includes(dep[i][k])) {
            dependencies[dependenciesIndex].push(dep[i][k]);
          }
        }
      }
    }

    var done = [];

    while (dependencies.length !== 0) {
      let didFindDep = false;

      for (let i = 0; i < dependencies.length; i++) {
        if (dependencies[i].length === 1) {
          didFindDep = true;

          // Schreibe dependency in done und entferne dessen vorgänger abhängigkeit
          done.push(dependencies[i][0]);

          var remove = dependencies[i][0];
          var index = dependencies.indexOf(remove);
          if (index !== -1) {
            dependencies.splice(index, 1);
          }

          for (let j = 0; j < dependencies.length; j++) {
            // eslint-disable-next-line no-redeclare
            var index = dependencies[j].indexOf(remove);
            if (index !== -1) {
              dependencies[j].splice(index, 1);
            }
          }
        }
      }


      if (didFindDep === false) {
        for (let i = 0; i < dependencies.length; i++) {
          if (dependencies[i].length > 0) {
            console.log("could not calculate topsort because of cyclic ruleset.")
            return null;
          }
        }

        break;
      }
    }

    return done;
  }
}

// eslint-disable-next-line no-unused-vars
const log = [];

const testArray = new Vorrang([["studieren", "schlafen"], ["studieren", "essen"], ["studieren", "prüfen"], ["anforderungen", "gesundheit"]]);

const handler = {
  remaining: testArray.sortedVorraenge(),
  // eslint-disable-next-line no-unused-vars
  get(target, prop, receiver) {
    let vorgaenger = Reflect.get(...arguments);
    this.remaining.splice(vorgaenger, 1);

    return vorgaenger;
  }
}

console.log("Uebung 5-4 Test");
console.log(testArray);
const proxy = new Proxy(testArray, handler);
for (const next of proxy) {
  console.log(next);
}


export default {
  name: "Uebung5-4",
  methods: {
    getVorrangInstance: function(depends){
      if(depends === undefined){
        console.log("Für die Vorrang Instanz wurden keine Regeln wie [\"schlafen\", \"studieren\"], [\"essen\", \"studieren\"], [\"studieren\", \"prüfen\"] definiert");
      }

      return new Vorrang(depends);
    }
  }
}
</script>

<style scoped>

</style>