<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="uebung">
    <div class="red"></div>
    <div class="green"></div>
    <div class="blue"></div>
    <div class="purple"></div>
  </div>
</template>

<script>
export default {
  name: "Uebung3-2"
}
</script>

<style scoped>
.uebung{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  14vh 14vh 55vh 14vh;

  grid-template-areas:
                "redSec"
                "greenSec"
                "blueSec"
                "purpleSec";
}

.red{
  grid-area: redSec;
  background-color: red;
}

.green{
  grid-area: greenSec;
  background-color: green;
}

.blue{
  grid-area: blueSec;
  background-color: blue;
}

.purple{
  grid-area: purpleSec;
  background-color: purple;
}

@media(min-width: 300px){
  .uebung{
    grid-template-columns: 30% 70%;
    grid-template-rows:  14vh 68vh 14vh;

    grid-template-areas:
                    "redSec redSec"
                    "greenSec blueSec"
                    "purpleSec purpleSec";
  }

  .red, .green, .blue, .purple{
    margin: .25em;
  }

}

@media(min-width: 600px){
  .uebung{
    grid-template-columns: 15% 70% 15%;
    grid-template-rows:  14vh 82vh;

    grid-template-areas:
                    "redSec redSec redSec"
                    "greenSec blueSec purpleSec"
  }

  .red, .green, .blue, .purple{
    margin: .25em;
  }
}

</style>