<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>

const x = {
  a: 1,
  b: 2,
  c: {
    d: 3,
    e: {
      k: 4,
      i: 5
    }
  }
}

function deepCopy(struct) {
  const entries = [];
  Object.entries(struct).map((entry, index) => entries[index] = (Object.values(entry[1]).length === 0 ? entry : [entry[0], deepCopy(entry[1])]));

  return Object.fromEntries(entries);
}

const deepCopyX = deepCopy(x);

console.log("Uebung 5-5 Test");
console.assert(deepCopyX !== x);

console.log("Deep Copy:");
console.log(deepCopyX);

console.log("Copied from:");
console.log(x);


export default {
  name: "Uebung5-5",
  methods: {
    deepCopy: function(struct){
      if(struct === undefined){
        console.log("Es wurde kein Objekt definiert, welches kopiert werden könnte.");
        return;
      }

      return deepCopy(struct);
    }
  }
}
</script>

<style scoped>

</style>