<template>
  <!-- Autor: Robin Steinwarz -->
  <div>
    <h1>Übung 1.2: Inventors of the Web</h1>
    <p>
    <ul>
      <li><u>
        <mark><b>Tim Berners-Lee:</b></mark>
      </u> WWW, HTTP, HTML, URI
      </li>
      <li><b>Hakom Lie and Bert Bos:</b> CSS</li>
      <li><b>Brendan Eich:</b> JavaScript</li>
    </ul>

    <hr/>

    <p></p>
    <h2>Inventors of the WWW</h2>

    <table border="10">
      <tr>
        <th colspan="4">Inventors of the WWW</th>
      </tr>
      <tr>
        <th>WWW</th>
        <th>HTML</th>
        <th>CSS</th>
        <th>JavaScript</th>
      </tr>
      <tr>
        <td>
          <mark><b>Tim Berners-Lee</b></mark>
        </td>
        <td>
          <mark><b>Tim Berners-Lee</b></mark>
        </td>
        <td>Hakom Lie and Bert Bos</td>
        <td>Brendan Eich</td>
      </tr>
    </table>

    <hr/>

    <table>
      <tr>
        <th colspan="2">Inventors of the WWW
          <hr/>
        </th>
      </tr>
      <tr>
        <th style="border-right: solid 2px">HTML</th>
        <th>Javascript</th>
      </tr>
      <tr>
        <th style="border-right: solid 2px"><img src="https://kaul.inf.h-brs.de/we/assets/img/tbl.jpg" width="100px">
        </th>
        <th><img src="https://kaul.inf.h-brs.de/we/assets/img/eich.jpg" width="102.5px"></th>
      </tr>
      <tr>
        <td style="border-right: solid 2px">
          <mark><b>Tim Berners-Lee</b></mark>
        </td>
        <td>Brendan Eich</td>
      </tr>

    </table>
  </div>
</template>

<script>
export default {
  name: "Uebung1"
}
</script>

<style scoped>

</style>