<template>
  <!-- Autor: Robin Steinwarz -->
  <div>
    <div id="parentDisplaceable">
      <div id="displaceble">
        Hello
      </div>
    </div>

    <br>
    <hr>
    <div>
      Ergebnisse:
      <table id="testResults"></table>
    </div>
  </div>
</template>

<script>
export default {
  name: "Uebung7-1",
  mounted: function(){
    this.displace = `Hello it's me. A student hearing christmas
                              music, 'cause it's the 14th of december.
                              <span display="none"> Rudolph you red-nosed deer. </span><br>
                              You're damn bright.`;


    this.commands = ['innerHTML', 'innerText', 'textContent', 'outerHTML'];
    this.resultSet = [];

  },
  methods: {
    performanceTest: function () {
      for(const command of this.commands){
        const startTime = performance.now();
        document.getElementById('displaceble')[command] = this.displace;
        const endTime = performance.now();

        this.resultSet.push(endTime - startTime)

      }

      const table = document.getElementById('testResults');
      for(const key in this.commands){
        const newRow = `<tr><td>${this.commands[key]}</td><td>${this.resultSet[key]}</td></tr>`;
        table.innerHTML += newRow;
      }
    }
  }
}
</script>

<style scoped>

</style>