<template>
  <!-- Autor: Robin Steinwarz -->
  <div id="text">

  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Uebung8-1",
  created: function(){
    let textA = [];
    let textB = [];

    Promise.all([
      fetch(Vue.prototype.$hostname + 'A.txt').then( response => {
        return response.text().then( text => {
          text.split("\n").forEach(line => {
            textA.push( line);
          })
        });
      }),
      fetch(Vue.prototype.$hostname + 'B.txt').then( response => {
        return response.text().then( text => {
          text.split("\n").forEach(line => {
            textB.push( line);
          })
        });
      })
    ]).then(result => {
      console.log(result);
      for(let i = 0; i < textA.length; i++){
        document.getElementById("text").insertAdjacentHTML('beforeend', textA[i] + " " + textB[i] + "<br>");
      }
    }) .catch(error => console.log(`Error in promises ${error}`));
  }
}
</script>

<style scoped>

</style>