<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="login">
    <form id="loginData">
      <div>
        Name<br>
        <input type="text" name="loginUsername" id="loginName"/>
      </div>
      <div>
        Password <br>
        <input type="password" name="loginPassword" id="loginPassword"/>
      </div>
      <input type="button" @click="login" value="login"/>
    </form>
    <div id="result">
    {{error}}
    </div>
    <Notification ref="ue102_notification"></Notification>
  </div>
</template>

<script>
import Notification from "@/components/Notification";
const queryString = require('query-string');
import Vue from "vue";

export default {
  name: "Uebung10-2",
  components: {Notification},
  data: function(){
    return{
      "error": ""
    }
  },
  mounted: function(){
    this.result = document.getElementById('result');
  },
  methods: {
    login: function () {
      this.loginName = document.getElementById('loginName').value;
      this.loginPassword = document.getElementById('loginPassword').value;

      if (this.loginName === "" || this.loginPassword === "") {
        this.error = "Bitte fülle alle Felder aus."
        return;
      }

      const data = {
        loginName: this.loginName,
        loginPassword: this.loginPassword,
      }

      const vue = this;

      (async () => {
        let result = await fetch(Vue.prototype.$hostname, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: queryString.stringify(data)
        });

        result = await result.text();

        console.log(result);
        if (result !== "false") {
          if (result === "unregistered") {
            vue.error = "Der angegebene Nutzername und das Passwort sind nicht registriert.";
            return;
          }

          this.$refs["ue102_notification"].addNotification('Erfolgreich eingeloggt!', 'success', Date.now());
          vue.$store.state.sessionHash = result;
        } else {
          vue.error = "Der angegebene Nutzername und das Passwort sind nicht registriert."
        }
      })();
    },
  }
}
</script>

<style scoped>
.login{
  padding: 1em 3em 1em 3em;
}

input {
  margin: .25em;
  padding: .5em;
}

input[type="button"] {
  width: 100px;
  background-color: #42b983;
  border-color: white;
  color: white;
}
</style>