<template>
  <!-- Autor: Robin Steinwarz -->
  <div>
    <h1>Übung 2.2</h1>

    <input type="checkbox"/> hide and show via checkbox
    <div class="border">
      <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Hochschule_Bonn-Rhein-Sieg_Wolfgang_G%C3%B6ddertz_Induktion.jpg"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "Uebung22"
}
</script>

<style scoped>
.border {
  border: 1px solid;
}

img {
  box-sizing: border-box;
  margin: 0.5em;
  width: calc(100% - 1em);
}

input:checked ~ div img {
  visibility: hidden;
}

</style>