<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>

export default {
  name: "Uebung4-1",
  methods: {
    // eslint-disable-next-line no-unused-vars
    add: function (a, b) {
      return a + b;
    },
    // eslint-disable-next-line no-unused-vars
    identity: function (param) {
      return param;
    },

    // eslint-disable-next-line no-unused-vars
    identity_function: function (param) {
      var func = function identity() {
        return param;
      }
      return func;
    },


    // eslint-disable-next-line no-unused-vars
    mul: function (a, b) {
      return a * b;
    },

    // eslint-disable-next-line no-unused-vars
    addf: function (x) {
      // eslint-disable-next-line no-unused-vars
      var add = function yfunc(y) {
        return x + y;
      }
    },

    // eslint-disable-next-line no-unused-vars
    applyf: function (f) {
      var applyFirst = function first(x) {
        var applySecond = function second(y) {
          return f(x, y);
        }

        return applySecond;
      }

      return applyFirst;
    }
  }
}
</script>

<style scoped>

</style>