<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="uebung11">
    Die Notification Komponente erlaubt das werfen von endlich vielen Nachrichten gleichzeitig. Dies soll hier nochmal
    genauer vorgeführt werden. Die Buttons können dazu genutzt werden, um Notifications zu werfen. Sie werden alle
    nacheinander erscheinen.
    <p/>
    <input class="info" type="button" value="Information" @click="this.info">
    <input class="warning" type="button" value="Warnung" @click="this.warning">
    <input class="success" type="button" value="Erfolg" @click="this.success">
    <Notification ref="notification"></Notification>
  </div>
</template>

<script>
import Notification from "@/components/Notification";

export default {
  name: "Uebung11-1",
  data: function () {
    return {
      countWarning: 0,
      countInfo: 0,
      countSuccess: 0
    }
  },
  components: {Notification},
  methods: {
    warning: function () {
      this.countWarning++;
      this.$refs['notification'].addNotification(`Dies ist die ${this.countWarning}. Warnung.`, 'warning', Date.now());
    },
    info: function () {
      this.countInfo++;
      this.$refs['notification'].addNotification(`Dies ist die ${this.countInfo}. Information.`, 'info', Date.now());
    },
    success: function () {
      this.countSuccess++;
      this.$refs['notification'].addNotification(`Dies ist der ${this.countSuccess}. Erfolg.`, 'success', Date.now());
    }
  }
}
</script>

<style scoped>

.uebung11{
  padding: 1em 3em 1em 3em;
}

input {
  margin: .25em;
  padding: .5em;
  width: 100px;
  background-color: #42b983;
  border-color: white;
  color: white;
}

.info {
  background-color: #607d8b;
}

.warning {
  background-color: crimson;
}

.success {
  background-color: #42b983;
}

</style>