<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="navi" v-bind:class="{ vertical: vertical }">
    <div id="DynamicNavi" class="tabs">
      <button v-for="tab in tabs"
              v-bind:key="tab"
              v-bind:class="['tab-button', { active: currentTab === tab}]"
              v-on:click="currentTab = tab">
        {{ tab }}
      </button>
    </div>
    <div class="content">
      <component
          v-bind:is="currentTabComponent" class="tab"
      ></component>
    </div>
  </div>
</template>

<script>
  export default {
    name: "DynamicNavi",
    data: () => {
      return {
        currentTab: 'Users',
        tabs: ['Users', 'Cars', 'Bills','Services']
      }
    },
    props: {
        vertical: {
          type: Boolean,
          default: false
        }
      },
    computed: {
      currentTabComponent: function(){
        return 'tab-' + this.currentTab.toLowerCase();
      }
    },
    components: {
      'tab-users': {
        template: '<div>Users</div>'
      },
      'tab-cars': {
        template: '<div>Cars</div>'
      },
      'tab-bills': {
        template:'<div>Bills</div>'
      },
      'tab-services': {
        template:'<div>Services</div>'
      }
    }
  }

</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

  .navi {
    font-family: 'Roboto', sans-serif;

    display: grid;

    grid-template-columns: 100%;
    grid-template-rows:  50px auto;

    grid-template-areas:
    "tabs"
    "content";

  }

  .navi .tabs{
    background-color: #1d2025;
    grid-area: tabs;
    color: white;
  }

  .navi .content{
    background-color: #ffffff;
    grid-area: content;
  }

  .navi button{
    padding: .5em;
    margin: .5em;
    width: 100px;
  }

  .navi.vertical {
    grid-template-columns: 120px auto;
    grid-template-rows:  100%;

    grid-template-areas: "tabs content";
  }

  .navi.vertical .content{
    grid-area: content;
    background-color: #42b983;

  }

</style>