<template>
  <!-- Autor: Robin Steinwarz -->

  <div>
    <span style="text-align: center;"><h1>Survey Form</h1></span>

    <div class="form">
      <div class="centered" style="padding: 1.5em;">
        Let us know how we can improve freeCodeCamp
      </div>

      <div class="section">
        <div class="left">
          * Name:
        </div>
        <div class="right">
          <input type="text" placeholder="Enter your name">
        </div>
      </div>

      <div class="section">
        <div class="left">
          * Email:
        </div>
        <div class="right">
          <input type="email" placeholder="Enter your Email">
        </div>
      </div>

      <div class="section">
        <div class="left">
          * Age:
        </div>
        <div class="right">
          <input type="number" placeholder="Age">
        </div>
      </div>

      <div class="section">
        <div class="left">
          Which option best describes your current role?
        </div>
        <div class="right">
          <select name="role" id="role">
            <option value="student">Student</option>
            <option value="werkstudent">Werkstudent</option>
            <option value="praktikant">Praktikant</option>
          </select>
        </div>
      </div>

      <div class="section">
        <div class="left">
          * How likely is that you would recommend freeCodeCampt to a friend?
        </div>
        <div class="right">
          <input type="radio" id="RadioDef" name="recommend" value="definitely">
          <label for="RadioDef"> Definitely</label> <br>
          <input type="radio" id="RadioMay" name="recommend" value="maybe">
          <label for="RadioMay"> Maybe</label> <br>
          <input type="radio" id="RadioNot" name="recommend" value="notesure">
          <label for="RadioNot"> Not Sure</label>
        </div>
      </div>

      <div class="section">
        <div class="left">
          What do you like the most in FCC:
        </div>
        <div class="right">
          <select name="ilike" id="ilike">
            <option selected="selected" value="null">Select an option</option>
            <option value="free">It is free.</option>
            <option value="nice">It is nice.</option>
          </select>
        </div>
      </div>

      <div class="section">
        <div class="left">
          Things that should be improved in the future <br> (Check all that apply):
        </div>
        <div class="right">
          <input type="checkbox" id="CheckImproveFront">
          <label for="CheckImproveFront"> Front-end Projects</label> <br>
          <input type="checkbox" id="CheckImproveBack">
          <label for="CheckImproveBack"> Back-end Projects</label> <br>
          <input type="checkbox" id="CheckImproveData">
          <label for="CheckImproveData"> Data Visualization</label>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
export default {
  name: "Uebung23"
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  background-color: #b2d6d1;
  font-family: 'Roboto', sans-serif;
}

.form {
  background-color: rgb(245,245,245);
  box-sizing: border-box;
  margin: 2em;
  margin-top: 1em;
  width: calc(100% - 4em);
}

.form .centered {
  text-align: center;
}

.form .section {
  display: inline-block;
  box-sizing: border-box;
  padding: .25em;
  width: calc(100% - 4em);
}

.form .section .left {
  float: left;
  text-align: right;
  padding: .5em;
  padding-right: 0;
  box-sizing: border-box;
  width: calc(50% - 1em);
}

.form .section .right {
  float: right;
  text-align: left;
  padding: .5em;
  padding-left: 0;
  box-sizing: border-box;
  width: calc(50% - 1em);
}

select {
  padding: .5em;
  width: 150px;
  background-color: rgb(235,235,235);
}

input[type="text"],input[type="email"],input[type="number"]{
  width: 250px;
  margin: -0.25em;
  padding: 0.25em;
  margin-left: 0;
}

input[type="radio"],input[type="checkbox"]{
  margin-bottom: 0.5em;
  margin-left: 0;
}
</style>