<template>
  <!-- Autor: Robin Steinwarz -->
  <div class="uebung">
    <div class="nav">
      <a href="">The book series</a>
      <a href="">Testimonials</a>
      <a href="">The Author</a>
      <a href="">Free resources</a>
    </div>
    <div class="content">
      <div class="heading">
        You dont know <span style="font-family:Verdana, Geneva, Tahoma, sans-serif">JavaScript</span>
      </div>
      <div class="leftContent">
        <img id="JSBookIMG" width="100px" height="100px" src="https://kaul.inf.h-brs.de/we/assets/img/landing-img.png">
      </div>
      <div class="rightContent">
        <div class="motivation">Don't just drift through Javascript.</div>
        <p></p>
        <div class="motivation">Understand how Javascript works</div>
        <p></p>
        <div class="motivation">Start your journey through the bumpy side of Javascript</div>
        <p></p>
        <button>ORDER YOUR COPY NOW</button>
      </div>
    </div>
    <div class="footer">
      The first ebook in the book series is absolutely free.<p></p>
      <button>FIND OUT MORE ABOUT THIS OFFER</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Uebung3-3"
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.uebung{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  6vh 74vh 18vh;

  grid-template-areas:
                "nav"
                "content"
                "footer";

  font-family: 'Roboto', sans-serif;
}

.content{
  background-color: #ebeae6;
  grid-area: content;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;

  grid-template-areas:
                "heading heading"
                "leftContent rightContent";
}

.content .heading{
  grid-area: heading;
  grid-column: 1 / 3;
  text-align: center;
  padding: .7em;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 8px;
}

.content .rightContent .motivation{
  padding: 10px;
  margin: 10px;
  margin: 1em;
}

.content .rightContent{
  grid-area: rightContent;
  margin-top: 2em;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}

.content .leftContent{
  grid-area: leftContent;
  padding: .25em 3em 3em 3em;
}

#JSBookIMG{
  /* 724 x 1112 */
  width: calc(724px / 3);
  height: calc(1112px / 3);
  border: 1px solid #acaba9;
  border-radius: .5em;
}

.footer{
  background-color: #011826;
  grid-area: footer;
}

button{
  background-color: #f88e37;
  border: #f88e37;
  border-radius: 0.25em ;
  color: white;
  padding: .25em;
  width: 50%;
  font-family: 'Bebas Neue', cursive;
}

.footer{
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: lighter;
  padding-top: 2em;
}

.nav{
  background-color: #363636;
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav a{
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: lighter;
  padding: 1em;
}

@media(max-width: 600px){

  .content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 30%;

    grid-template-areas:
                    "heading"
                    "leftContent"
                    "rightContent";
  }

  #JSBookIMG{
    /* 724 x 1112 */
    width: calc(724px / 5);
    height: calc(1112px / 5);
  }

  .content .leftContent{
    text-align: center;
    padding: 0;
  }


  .content .rightContent .motivation{
    padding: 0;
    margin: 0;
    margin: 0;
  }
}

@media(max-width: 380px){

  .uebung{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  24vh 48vh 25vh;

    grid-template-areas:
                    "nav"
                    "content"
                    "footer";

    font-family: 'Roboto', sans-serif;
  }

  .content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 0% 50%;

    grid-template-areas:
                    "heading"
                    "leftContent"
                    "rightContent";
  }

  .content .rightContent{
    font-size: 10px;
  }

  .content .leftContent{
    display: none;
  }

  .nav a{
    width: 100%;
    text-align: center;
  }
}
</style>