<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>
export default {
  name: "Uebung6-1",
  methods: {
    // A1
    identity_function: x => {
      const identity = () => {
        return x;
      }

      return identity;
    },

    // A2
    addf: x => {
      return (y) => x + y
    },

    // A3
    applyf: (f) => {
      const ff = x => {
        return y => f(x, y);
      }

      return ff;
    },

    // A4
    curry: (f, x) => {
      return y => f(x, y);
    },

    // A5
    inc: x => {
      return this.addf(x)(1);
    },

    inc2: x => {
      return this.curry(y => x + y, 1)(x);
    },

    inc3: x => {
      return this.applyf(y => x + y)(1)(x);
    },

    // A6
    add: (x, y) => (x + y),

    methodize: function (f) {
      return function (x) {
        return f(x, this);
      }
    },

    // A7
    demethodize: function (f) {
      return function (x, y) {
        return f.call(x, y);
      }
    },

    // A8

    mul: (x, y) => {
      return x * y;
    },

    twice: f => {
      return x => {
        return f(x, x);
      }
    },


    // A9
    composeeu: (f, z) => {
      return x => z(f(x));
    },

    // A10
    // eslint-disable-next-line no-unused-vars
    composeb: (f, z) => {
      return (x, y, z) => this.mul(this.add(x, y), z);
    },

    // A11
    once: f => {
      var hasBeenCalled = false;

      return (x, y) => {
        if (hasBeenCalled === true) {
          throw Error("Attempted to call function twice.");
        }

        hasBeenCalled = true;
        return f(x, y);
      }
    },


    // A12
    counterf: (x) => {
      return {
        inc: () => ++x,
        dec: () => --x
      }
    },


    // A13
    revocable: (f) => {
      var revoked = false;

      return {
        invoke: (...x) => {
          if (revoked === true) {
            throw Error("Attempted to call function after revoke.");
          }

          return f(...x);
        },
        revoke: () => revoked = true
      }
    },

    //A14
    arrayWrapper: () => (function () {
      let array = [];
      return {
        get: (i) => array[i],
        store: (i, x) => array[i] = x,
        append: (x) => array.push(x)
      }
    }())

  }
}
</script>

<style scoped>

</style>