<template>
  <!-- Autor: Robin Steinwarz -->
  <div>

  </div>
</template>

<script>

function topSort(dep){
  if(dep === undefined){
    console.log("Nutzen Sie die topSort Funktion mit definierten wie [\"schlafen\", \"studieren\"], [\"essen\", \"studieren\"], [\"studieren\", \"prüfen\"]");
    return;
  }

  var dependencies = [];

  // suche in den dependencies, nach dem Index des relevanten Tasks
  function indexFinder(dependency){
    var index = -1;

    for(let e = 0; e < dependencies.length; e++){
      if(dependencies[e][0] === dependency){
        index = e;
        break;
      }
    }

    return index;
  }

  // sortiere zu nachgängern, vorgänger in dependencies ein
  for(let i = 0; i < dep.length; i++){
    for(let j = dep[i].length - 1; j >= 0; j--){
      let dependenciesIndex = indexFinder(dep[i][j]);

      if(dependenciesIndex === -1){
        dependencies.push([dep[i][j]]);
        dependenciesIndex = dependencies.length - 1;
      }

      // schreibe alle vorgänger zu dem nachgänger an position j in dependencies
      for(let k = j - 1; k >= 0; k--){
        if(!dependencies[dependenciesIndex].includes(dep[i][k])){
          dependencies[dependenciesIndex].push(dep[i][k]);
        }
      }
    }
  }

  var done = [];

  while(dependencies.length !== 0){
    let didFindDep = false;

    for(let i = 0; i < dependencies.length; i++){
      if(dependencies[i].length === 1){
        didFindDep = true;

        // Schreibe dependency in done und entferne dessen vorgänger abhängigkeit
        done.push(dependencies[i][0]);

        var remove = dependencies[i][0];
        var index = dependencies.indexOf(remove);
        if(index !== -1){
          dependencies.splice(index,1);
        }

        for(let j = 0; j < dependencies.length; j++){
          index = dependencies[j].indexOf(remove);
          if(index !== -1){
            dependencies[j].splice(index,1);
          }
        }
      }
    }

    if(didFindDep === false){
      for(let i = 0; i < dependencies.length; i++){
        if(dependencies[i].length > 0){
          console.log("could not calculate topsort because of cyclic ruleset.")
          return null;
        }
      }

      break;
    }
  }

  return done;
}


export default {
  name: "Uebung4-4",
  methods: {
    topSort,
    happyTestCase: function () {
      // Test 1 Happy case
      const depends = [["schlafen", "studieren"], ["essen", "studieren"], ["studieren", "prüfen"], ["prüfen", "bewerten"]];
      console.log(depends);
      console.log(topSort(depends));
    },
    cyclicTestCase: function () {
      // Test 2 Bad case
      const depends = [["schlafen", "studieren"], ["essen", "studieren"], ["studieren", "prüfen"], ["prüfen", "studieren"]];
      console.log(depends);
      topSort(depends);
    }
  }
}
</script>

<style scoped>

</style>