<template>
  <!-- Autor: Robin Steinwarz -->
  <div>
    <h1>Rednerliste</h1>

    Neuer Redner:
    <input type="text" id="name" >
    <input type="button" value="Hinzufuegen" onclick="addRednerDOM()">

    <ul id="RednerListe">

    </ul>
  </div>
</template>

<script>

const updateIntervall = 500;
let redner = new Set();

const addRedner = (name) => {
  const newRedner = {
    name: name,
    time: new Date(0),
    recording: true
  }

  redner.add(newRedner);
  return newRedner;
}

Date.prototype.addMillisecs = function(d) {
  this.setTime(this.getTime() + (d));
  return this;
}

const updateTimers = () => {
  redner.forEach(redner => {
    if(redner.recording === true){
      redner.time = redner.time.addMillisecs(updateIntervall);
    }
  });

  updateTimerDOM();
}

const addRednerDOM = () => {
  // Set all recordings off
  redner.forEach(redner => {
    redner.recording = false;
  });

  const name = document.getElementById("name").value;

  if(name === ''){
    console.log("No name was submitted.");
    return;
  }

  const newRedner = addRedner(name);
  const rednerListe = document.getElementById("RednerListe");
  const neuerEintrag = `<br><li name="Redner" id="${newRedner.name}"> ${newRedner.name} <span name="timer">${newRedner.time.getTime() / 1000}</span>
                          <input name="timeToggle" type="button" value="${ (newRedner.recording) ? `Stop` : `Start` }" onclick="document.toggleRecording(this)" id="${newRedner.name}"></li>`;

  rednerListe.innerHTML += neuerEintrag;
}

const toggleRecording = (input) => {
  let oneIsRecording = false;

  redner.forEach(redner => {
    if(redner.recording === true){
      oneIsRecording = true;
    }
  });

  redner.forEach(redner => {
    if(input.id === redner.name){
      if(redner.recording === true){
        redner.recording = false;
      }else{
        if(oneIsRecording === false){
          redner.recording = true;
        }
      }
    }
  });

  updateTimerDOM();
}


const updateTimerDOM = () => {
  redner.forEach(redner => {
    const rednerItem = document.getElementById(redner.name);
    rednerItem.querySelector("span[name='timer']").innerHTML = (redner.time.getHours() - 1) + " : " + redner.time.getMinutes() + " : " + redner.time.getSeconds();
    rednerItem.querySelector("input[name='timeToggle']").outerHTML = `<input name="timeToggle" type="button" value="${ (redner.recording) ? `Stop` : `Start` }" onclick="toggleRecording(this)" id="${redner.name}"></input>`
  });
}

export default {
  name: "Uebung7-2",
  data: function() {
    return{
      interval: ''
    }
  },
  methods: {
    addRedner,
    addRednerDOM,
    toggleRecording,
    updateTimers
  },
  created: function() {
    document.toggleRecording = this.toggleRecording;
    document.addRedner = this.addRedner;
    document.addRednerDOM = this.addRednerDOM;
    redner = new Set();

    this.interval = window.setInterval(function(){
      updateTimers();
    }, updateIntervall);
  },
  destroyed() {
    window.clearInterval(this.interval);
  }

}

</script>

<style scoped>

</style>