<template>
  <!-- Autor: Robin Steinwarz -->
  <div id="text">

  </div>
</template>

<script>
import Vue from "vue";

export default {
  name: "Uebung8-1",
  created: function(){
    let textA = [];
    let textB = [];

    async function fetchText( url ){
      const request = await fetch(url);
      return await request.text();
    }

    (async () => {
      await Promise.all([
        (async () => {
          let text = await fetchText(Vue.prototype.$hostname + 'A.txt');
          text.split("\n").forEach(line => {
            textA.push( line);
          });
          console.log(textA);
        })(),
        (async () => {
          let text = await fetchText(Vue.prototype.$hostname + 'B.txt');
          text.split("\n").forEach(line => {
            textB.push( line);
          });
        })(),
      ]);

      for(let i = 0; i < textA.length; i++){
        document.getElementById("text").insertAdjacentHTML('beforeend', textA[i] + " " + textB[i] + "<br>");
      }
    })();
  }
}
</script>

<style scoped>

</style>